<body>
    <div id="BackgroundSphere1"></div>
    <%- include('header') %>
    <%- include('leftpane') %>
    <%- include('rightpane')%>
    <%- include('footer') %>
    <!-- <%- include('script') %> -->
</body>
