<div class="Citation">
    <div class="info1">
        <div class="info2">
            <p class="title" data-hover="<%=citation.title%>">
                <%=citation.title %>
            </p>
            <h2 class="authors">
                <%- citation.authors.length > 0 ? citation.authors.toString() :
                "Authors not found" %>
            </h2>
            <h2 id="doiSmall">
                <%= citation.doi%>
            </h2>
        </div>
        <h3 class="description">Collected from <%= citation.database%></h3>
    </div>
    <div class="year"><p><%= citation.year %></p></div>
    <div class="doi"><p><%= citation.doi%></p></div>
    <div class="link">
        <a href="https://www.doi.org/<%= citation.doi %>" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-link"></i></a>
    </div>
</div>