<%
    const count = history.length;
    
    const date = history[count- 1].date;

    const quality = history[count - 1].quality;
    const citations = history[count - 1].citations;
    const fairness = history[count - 1].fairness;
    const matches = history[count - 1].matches;

    const qualityChange = count <= 1 ? quality : quality - history[count - 2].quality;
    const citationsChange = count <= 1 ? citations : citations - history[count - 2].citations;
    const fairnessChange = count <= 1 ? fairness : fairness - history[count - 2].fairness;
    const matchesChange = count <= 1 ? matches : matches - history[count - 2].matches;

    function showChange(change) {
        return change >= 0 ? "+" + change : change;
    }
%>

<div class="ImpactHistory">
    <h1>Impact History</h1>
    <h2>Overview</h2>
    <div class="ImpactHistory__Overview">
        <div>
            <h3>Quality Score</h3>
            <%- quality %>%
            <div>
                <b><%- showChange(qualityChange) %>%</b><br>since last time
            </div>
        </div>
        <div>
            <h3>Citations</h3>
            <%- citations %>
            <div>
                <b><%- showChange(citationsChange) %></b><br>since last time
            </div>
        </div>
        <div>
            <h3>FAIRness</h3>
            <% for (let i = 0; i < Math.floor(fairness); i++) { %>
                <i class="fa-solid fa-star"></i>
            <% } %>
            <% if (fairness % 1 > 0) {%>
                <i class="fa-solid fa-star-half-stroke"></i>
            <%}%> 
            <% for (let i = 0; i < (5 - Math.ceil(fairness)); i++) { %>
                <i class="fa-regular fa-star"></i>
            <% } %>
            <div>
                <b><%- showChange(fairnessChange) %> <i class="fa-solid fa-star"></i></b><br>since last time
            </div>
        </div>
        <div>
            <h3>Method Matches</h3>
            <%- matches %>
            <div>
                <b><%- showChange(matchesChange) %></b><br>since last time
            </div>
        </div>
    </div>
    <div class="ImpactHistory__QualityFairness">
        <div>
            <h2>Quality Score</h2>
            <div>
                <div class="ImpactHistory__QualityFairness__LeftAxis">
                    <div style="margin-top: -0.4vw;">100</div>
                    <div style="margin-top: 0.4vw;"> 90</div>
                    <div style="margin-top: 1.2vw;"> 80</div>
                    <div style="margin-top: 2vw;"> 70</div>
                    <div style="margin-top: 2.8vw;"> 60</div>
                    <div style="margin-top: 3.6vw;"> 50</div>
                    <div style="margin-top: 4.4vw;"> 40</div>
                    <div style="margin-top: 5.2vw;"> 30</div>
                    <div style="margin-top: 6vw;"> 20</div>
                    <div style="margin-top: 6.8vw;"> 10</div>
                    <div style="margin-top: 7.6vw;"> 0</div>
                </div>
                <div class="ImpactHistory__QualityFairness__Graph">
                    <% for (const data of history) { %>
                        <div style="height:<%- data.quality %>%;">
                            <p><%- data.quality %>%</p>
                            <div><%- data.date %></div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div>
            <h2>FAIRness</h2>
            <div>
                <div class="ImpactHistory__QualityFairness__LeftAxis">
                    <div style="margin-top: -0.4vw;">5</div>
                    <div style="margin-top: 1.2vw;"> 4</div>
                    <div style="margin-top: 2.8vw;"> 3</div>
                    <div style="margin-top: 4.4vw;"> 2</div>
                    <div style="margin-top: 6vw;"> 1</div>
                    <div style="margin-top: 7.6vw;"> 0</div>
                </div>
                <div class="ImpactHistory__QualityFairness__Graph">
                    <% for (const data of history) { %>
                        <div style="height:<%- data.fairness * 20 %>%;">
                            <p><%- data.fairness %></p>
                            <div><%- data.date %></div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <h2>Citations</h2>
    <div class="ImpactHistory__Citations"></div>
    <h2>Method Matches</h2>
    <div class="ImpactHistory__Matches"></div>
</div>


<style>
.ImpactHistory {
    display: none;
    width: 85%;
    height: 100%;
    margin: auto;
}
.ImpactHistory h1 {
    color: #0C281E;
    text-align: center;
    margin: 2.5%;
    font-size: 2vw;
}
.ImpactHistory h2 {
    color: #0C281E;
    font-size: 1vw;
    margin-bottom: 0.3vw;
}

.ImpactHistory__Overview {
    width: 100%;
    margin-top: 0.75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 0.9vw;
}
.ImpactHistory__Overview > div {
    width: 8vw;
    height: 8vw;
    border: 2px solid #5a9575;
    border-radius: 16px;
    text-align: center;
}
.ImpactHistory__Overview > div > h3 {
    color: #0C281E;
    font-size: 0.85vw;
    margin-top: 0.35vw;
    margin-bottom: 0;
}
.ImpactHistory__Overview > div > div {
    width: 100%;
    color: #5a9575;
    border-top: 1px solid #5a9575;
    padding-top: 0.5vw;
}
.ImpactHistory__Overview > div > div b {
    font-size: 1.4vw;
    color: #0C281E;
}

.ImpactHistory__QualityFairness {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ImpactHistory__QualityFairness > div {
    width: 50%;
}
.ImpactHistory__QualityFairness > div > h2 {
    margin-bottom: 1vw;
}
.ImpactHistory__QualityFairness__LeftAxis > div {
    position: absolute;
    width: 2vw;
    text-align: right;
    margin-left: -0.9vw;
    font-size: 0.55vw;
}
.ImpactHistory__QualityFairness__Graph {
    width: calc(95% - 2vw);
    margin-left: 2vw;
    height: 8vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.ImpactHistory__QualityFairness__Graph > div {
    position: relative;
    background-color: #60415F;
    text-align: center;
    width: <%- 80 / count %>%;
}
.ImpactHistory__QualityFairness__Graph > div > div {
    display: none;
    position: absolute;
    top: calc(100% + 2px);
    left: 50%;
    width: 6vw;
    margin-left: -3vw;
    background-color: white;
    border-radius: 8px;
    font-size: 0.9vw;
    text-align: center;
}
.ImpactHistory__QualityFairness__Graph > div > div:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}
.ImpactHistory__QualityFairness__Graph > div:hover {
    background-color: #6E4B6D;
}
.ImpactHistory__QualityFairness__Graph > div:hover > div {
    display: block;
}
.ImpactHistory__QualityFairness__Graph div p {
    font-size: 0.7vw;
    margin-top: -1.3vw;
}

.ImpactHistory__Citations {
    width: 100%;
    height: 5vw;
    background-color: lightblue;
}
.ImpactHistory__Matches {
    width: 100%;
    height: 5vw;
    background-color: lightblue;
}
</style>