<div class="LeftPane">
    <div class="Branding">
        <h1 class="Name"><i class="fa-solid fa-scale-balanced"></i>FAIRSECO</h1>
        <h2 class="Tagline">FAIR is fair.</h2>
    </div>
    <%- include('leftpanenav')%>
    
    <% const citations = data.find((ele) => (ele.ReturnName === "citingPapers"))?.ReturnData.papers; %>
    <% const licences = data.find((ele) => (ele.ReturnName === "Tortellini"))?.ReturnData; %>
    <% const sbom = data.find((ele) => (ele.ReturnName === "SBOM"))?.ReturnData; %>
    <% const searchseco = data.find((ele) => (ele.ReturnName === "SearchSeco"))?.ReturnData; %>
    <%- include('citations', {"citations": citations}) %>
    <%- include('licences', {"licences": licences}) %>
    <%- include('SBOM', {"SBOM": sbom}) %>
    <%- include('searchseco', {"searchseco": searchseco}) %>
    <%- include('footer') %>

</div>

<style>
    .LeftPane {
        width: 50vw;
        height: 100vh;
        padding: 0;
        margin: 0;
        background: rgba(15, 45, 30, 0.82);
        backdrop-filter: blur(30px);
        overflow: hidden;
    }

    .LeftPane .Branding {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        padding: 8px;
    }

    .LeftPane .Branding .Name {
        color: #d9f8df;
        margin: 0 8px;
    }

    .LeftPane .Branding .Tagline {
        align-self: center;
        color: #88bf93;
        font-size: 0.8rem;
        position: relative;
        top: 8px;
        font-style: italic;
    }
</style>
