<script>

    function generatePDF() {
      var opt = { filename: 'FAIRECO-REPORT-<%-githubData.Repo %>.pdf' };
      const element = document.getElementById("pdf");
      var elementclone = element.cloneNode(true);
      elementclone.style = "display:block";
      html2pdf().set(opt).from(elementclone).save();
      elementclone.remove();
    }

</script>
<%
    // Handle missing GitHub data
    if (githubData === undefined) {
        githubData = {
            Repo: "missing data",
            Owner: "missing data",
            Stars: "?",
            Watched: "?",
            Forks: "?",
            Contributors: [
                {
                    type: "User",
                    login: "missing data"
                }
            ]
        };
    }

    // Get top contributors
    topContributors = "";
    let contributorCount = 0;
    for (const contributor of githubData.Contributors) {
        if (contributor.type === "User" && contributorCount <= 6) {
            topContributors += "<p>" + contributor.login + "</p>";
            contributorCount++;
        }
    }

    // Get date
    const date = new Date();
    const dateString = String(date.getDate()) + "/" + String(date.getMonth() + 1) + "/" + String(date.getFullYear());

    // Get citations, fairness, quality score
    const citations = paperData !== undefined ? paperData.firstHandCitations + paperData.secondHandCitations : "-";
    const fairness = fairtally !== undefined ? fairtally.count : "-";
    const qualityScore = quality !== undefined ? quality.score : "-";

    // Get method matches
    let methodMatches = 0;
    if (searchSECO !== undefined) {
        for (const method of searchSECO.methods) {
            methodMatches += method.matches.length;
        }
    } else {
        methodMatches = "-";
    }
    
%>

<div class="Overview">
    <h1 class="Overview__Title">Overview</h1>
    <div class="Overview__Content">
        <div class="Repository__Info__Top">
            <div class="Repository__Info">
                <h3>Repository title</h3>
                <h2 class="Repository__Data"><%- githubData.Repo %></h2>
            </div>
            <div class="Repository__Info">
                <h3>Repository owner</h3>
                <h2 class="Repository__Data"><%- githubData.Owner %></h2>
            </div>
            <div class="Repository__Info">
                <h3>Date of issue</h3>
                <h2 class="Repository__Data"><%- dateString %></h2>
            </div>
        </div>
        <div class="Repository__Info__Left">
            <div class="Repository__Info">
                <h3>Top contributors</h3>
                <h2 class="Repository__Data Repository__Contributors"><%- topContributors %></h2>
            </div>
        </div>
        <div class="Repository__Info__Right">
            <div class="Repository__Info">
                <h3>Repository stars</h3>
                <h2 class="Repository__Data"><%- githubData.Stars %><i class="fa-solid fa-star"></i></h2>
            </div>
            <div class="Repository__Info">
                <h3>Repository watchers</h3>
                <h2 class="Repository__Data"><%- githubData.Watched %><i class="fa-solid fa-eye"></i></h2>
            </div>
            <div class="Repository__Info">
                <h3>Repository forks</h3>
                <h2 class="Repository__Data"><%- githubData.Forks %><i class="fa-solid fa-code-fork"></i></h2>
            </div>
        </div>
    </div>
    <h1 class="Scores__Title">Your scores</h1>
    <div class="Meta-data__Row">
        <div class="Meta-data">
            <p>Times cited</p>
            <div class = Meta-data__Data><p><%- citations %></p></div>
        </div>
        <div class="Meta-data">
            <p>FAIRness</p>
            <div class = Meta-data__Data><p><%- fairness %>/5</p></div>
        </div>
        <div class="Meta-data">
            <p>Methods matching those in other projects</p>
            <div class = Meta-data__Data><p><%- methodMatches %></p></div>
        </div>
        <div class="Meta-data">
            <p>Quality Score</p>
            <div class = Meta-data__Data><p><%- qualityScore %>/100</p></div>
        </div>
    </div>
    <button id="pdfbutton" onclick="generatePDF()"><i class="fa-solid fa-download"></i>  Download as PDF</button>
</div>

<style>
.Overview__Title {
    color: #0C281E;
    text-align: center;
    margin: 2%;
    font-size: 2rem;
}

.Scores__Title {
    color: #0C281E;
    text-align: Left;
    margin: 0;
    margin-bottom: 1rem;
    margin-left: 4.8vw;
    font-size: 1.5rem;
}

#pdfbutton{

    display: block;
    border-radius: 8px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid black;
    padding: 10px;
    background: none;
}

#pdfbutton:hover{
    color: white;
    background-color: #0c281e;
}

#pdfbutton i{
    margin-right: 5px;
    font-size: 15px;
}

.Overview__Content {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-areas: 
            "a a a"
            "b c d"
            "b c d";
    justify-content: space-between;
}
.Repository__Info__Top {
    grid-area: a;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Repository__Info__Top > *:nth-child(2){
    text-align: center;
}

.Repository__Info__Top > *:nth-child(3){
    text-align: right;
}
.Repository__Info__Left {
    margin-top: 5vh;
    grid-area: b;
    display: flex;
    flex-direction: column;
}

.Repository__Info__Right {
    margin-top: 5vh;
    grid-area: d;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.RightPaneWindow .Repository__Info h3{
    color: #5A9575;
    font-weight: bold;
    font-size: 1rem;
}
.RightPaneWindow .Repository__Info h2{
    color: #0c281e;
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
}

.RightPaneWindow .Repository__Info h2 i {
    margin-left: 8px;
}

.Repository__Data {
    font-size: 1.75vw;
    font-weight: bold;
    margin: 0.25vw;
}

.Repository__Contributors p{
    font-size: 1rem;
    margin: 0;
}

.Meta-data__Row {
    width: 80%;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
.Meta-data {
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #0c281e;
    margin: 4px;
    border-radius: 8px;
}

.Meta-data p {
    margin: 0px 16px;
}

.Meta-data__Data {
    font-size: 1.75vw;
    font-weight: bold;
    margin: 0.25vw;
}
</style>


