<%
function getRepositoryTitle() {
    return "FAIRSECO";
}

function getRepositoryOwner() {
    return "QDUNI";
}

function getDate() {
    return "22 dec 2022";
}

function getTopContributors() {
    return "<p>RageRaptor</p><p>Tjibbe75</p>";
}

function getRepositoryStars() {
    return 3100;
}

function getrepositoryWatchers() {
    return 1600;
}

function getRepositoryforks() {
    return 25;
}

function getTimesCited() {
    return 123;
}

function getFairness() {
    return "5/5";
}

function getMethodsReuse() {
    return 20;
}

function getQualityScore() {
    return "83/100";
}
%>

<div class="Overview">
    <h1 class="Overview__Title">Overview</h1>
    <div class="Overview__Content">
        <div class="Repository__Info__Left">
            <div class="Repository__Info">
                <p>Repository title</p>
                <div class="Repository__Data"><%- getRepositoryTitle() %></div>
            </div>
            <div class="Repository__Info">
                <p>Repository owner</p>
                <div class="Repository__Data"><%- getRepositoryOwner() %></div>
            </div>
            <div class="Repository__Info">
                <p>Top contributors</p>
                <div class="Repository__Data"><%- getTopContributors() %></div>
            </div>

        </div>
        <div class="Repository__Info__Right">
            <div class="Repository__Info">
                <p>Date of issue</p>
                <div class="Repository__Data"><%- getDate() %></div>
            </div>
            <div class="Repository__Info">
                <p>Repository stars</p>
                <div class="Repository__Data"><%- getRepositoryStars() %></div>
            </div>
            <div class="Repository__Info">
                <p>Repository wacthers</p>
                <div class="Repository__Data"><%- getrepositoryWatchers() %></div>
            </div>
            <div class="Repository__Info">
                <p>Repository Forks</p>
                <div class="Repository__Data"><%- getRepositoryforks() %></div>
            </div>
        </div>
    </div>
    <div class="Meta-data__Row">
        <div class="Meta-data">
            <p>Times cited</p>
            <div class = Meta-data__Data><%- getTimesCited() %></div>
        </div>
        <div class="Meta-data">
            <p>Fairness</p>
            <div class = Meta-data__Data><%- getFairness() %></div>
        </div>
        <div class="Meta-data">
            <p>Methods reused in other projects</p>
            <div class = Meta-data__Data><%- getMethodsReuse() %></div>
        </div>
        <div class="Meta-data">
            <p>Quality Score</p>
            <div class = Meta-data__Data><%- getQualityScore() %></div>
        </div>
    </div>
</div>

<style>
.Overview__Title {
    color: #0C281E;
    text-align: center;
    margin: 2%;
    font-size: 2vw;
}

.Overview__Content {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Repository__Info__Left {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Repository__Info__Right {
    text-align: right;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Repository__Data {
    font-size: 1.75vw;
    font-weight: bold;
    margin: 0.25vw;
}

.Meta-data__Row {
    width: 80%;
    margin: auto;
    display: flex;
    float: bottom;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.Meta-data__Data {
    font-size: 1.75vw;
    font-weight: bold;
    margin: 0.25vw;
}
</style>