<div class="Quality" hidden>
    <h1>Quality Score</h1>
    <div class="QualityMeter">
        <div class="QualityMeter__Bar">
            <div class="QualityMeter__Score"><%- quality?.score %></div>
            <div class="QualityMeter__Text"><%-
                (() => {
                    if (quality?.score < 25) return "awful";
                    else if (quality?.score < 50) return "bad";
                    else if (quality?.score < 75) return "good";
                    else if (quality?.score < 100) return "splendid!";
                    else return "perfect!";
                })() %>
            </div>
            <div class="QualityMeter__Numbers">
                <span class="QualityMeter__Zero">0</span>
                <span class="QualityMeter__Hundred">100</span>
            </div>
        </div>
        <div class="QualityMeter__Circle"></div>
    </div>
    <div class="QualityMetrics">
        <div class="QualityMetrics__ScoreMetric" id="QualityFairness">
            <i class="fa-solid fa-scale-balanced"></i>
            <div class="QualityMetrics__ScoreMetric__BarContainer">
                <h2>Fairness</h2>
                <div class="QualityMetrics__ScoreMetric__BarContainer__Bar">
                    <div class="QualityMetrics__ScoreMetric__BarContainer__Bar__Foreground"></div>
                </div>
                <p>Percentage of Fairness criteria met</p>
            </div>
            <div class="QualityMetrics__ScoreMetric__Percentage"><h2><%- quality?.fairnessScore %>%</h2></div>
        </div>
        <div class="QualityMetrics__ScoreMetric" id="QualityLicenses">
            <i class="fa-solid fa-copyright"></i>
            <div class="QualityMetrics__ScoreMetric__BarContainer">
                <h2>Licenses</h2>
                <div class="QualityMetrics__ScoreMetric__BarContainer__Bar">
                    <div class="QualityMetrics__ScoreMetric__BarContainer__Bar__Foreground"></div>
                </div>
                <p>Correct usage of licenses (no violations)</p>
            </div>
            <div class="QualityMetrics__ScoreMetric__Percentage"><h2><%- quality?.licenseScore %>%</h2></div>
        </div>
        <div class="QualityMetrics__ScoreMetric" id="QualityMaintainability">
            <i class="fa-solid fa-wrench"></i>
            <div class="QualityMetrics__ScoreMetric__BarContainer">
                <h2>Maintainability</h2>
                <div class="QualityMetrics__ScoreMetric__BarContainer__Bar">
                    <div class="QualityMetrics__ScoreMetric__BarContainer__Bar__Foreground"></div>
                </div>
                <p>Percentage of closed issues</p>
            </div>
            <div class="QualityMetrics__ScoreMetric__Percentage"><h2><%- quality?.maintainabilityScore %>%</h2></div>
        </div>
        <div class="QualityMetrics__ScoreMetric" id="QualityDocumentation">
            <i class="fa-solid fa-file-lines"></i>
            <div class="QualityMetrics__ScoreMetric__BarContainer">
                <h2>Documentation</h2>
                <div class="QualityMetrics__ScoreMetric__BarContainer__Bar">
                    <div class="QualityMetrics__ScoreMetric__BarContainer__Bar__Foreground"></div>
                </div>
                <p>Whether there is a documentation directory</p>
            </div>
            <div class="QualityMetrics__ScoreMetric__Percentage"><h2><%- quality?.documentationScore %>%</h2></div>
        </div>
        <p>
            <i class="fa-regular fa-clock"></i>
            Average time to solve issues: 
            <%- quality?.avgSolveTime ? quality?.avgSolveTime.toString() + (quality?.avgSolveTime === 1 ? " day" : " days") : "-" %>
        </p>
    </div>
</div>

<style>

.Quality {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.Quality h1 {
    color: #0C281E;
    text-align: center;
    margin: 2%;
    font-size: 2vw;
}

.QualityMeter {
    width: 20vw;
    height: 10vw;
    margin: auto;
}

.QualityMeter__Bar {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #3A9068; <%# For browsers that do not support gradients %>
    background: conic-gradient(
        from -90deg at bottom,
        #2D4B3D 0deg, #2D4B3D 43.5deg,
        #D3EEE0 43.5deg, #D3EEE0 45.5deg,
        #3A9068 45.5deg, #3A9068 89deg,
        #D3EEE0 89deg, #D3EEE0 91deg,
        #4BB784 91deg, #4BB784 134.5deg,
        #D3EEE0 134.5deg, #D3EEE0 136.5deg,
        #36DDA1 136.5deg, #36DDA1 180deg
    );
    border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
}
.QualityMeter__Bar::before {
    z-index: 2;
    content: "";
    position: absolute;
    width: 18vw;
    height: 9vw;
    bottom: 0;
    left: 5%;
    border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
    background-color: #D3EEE0;
}

.QualityMeter__Circle {
    z-index: 3;
    position: relative;
    width: 2vw;
    height: 2vw;
    top: -1vw;
    left: 9vw;
    border-radius: 50%;
    background-color: <%-
    (() => {
        if (quality?.score < 25) return "#2D4B3D";
        else if (quality?.score < 50) return "#3A9068";
        else if (quality?.score < 75) return "#4BB784";
        else return "#36DDA1";
    })() %>;
    transform: translate(
        <%- Math.sin((quality?.score / 100 - 0.5) * Math.PI) * 9.5 %>vw,
        <%- Math.cos((quality?.score / 100 - 0.5) * Math.PI) * -9.5 %>vw
    );
}
.QualityMeter__Circle::before {
    z-index: 4;
    content: "";
    position: absolute;
    width: 1vw;
    height: 1vw;
    top: 25%;
    left: 25%;
    margin-right: -10vw;
    margin-bottom: -10vw;
    border-radius: 50%;
    background-color: #D3EEE0;
}

.QualityMeter__Score {
    z-index: 5;
    position: absolute;
    font-size: 3.5vw;
    color: #204f35;
    bottom: 1rem;
    text-align: center;
    width: 100%;
    font-weight: bold;
}
.QualityMeter__Text {
    z-index: 5;
    position: absolute;
    font-size: 1.2vw;
    color: #5a9575;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.QualityMeter__Numbers {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-left: 0.2vw;
    color: #0C281E;
}

.QualityMeter__Zero {
    position: absolute;
    left: 0;
}

.QualityMeter__Hundred {
    position: absolute;
    right: 0;
}

.QualityMetrics {
    margin: auto;
    margin-top: 4%;
    width: 70%;
    height: calc(100% - 8% - 2vw*1.488 - 10vw - 8%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.QualityMetrics__ScoreMetric {
    margin: auto;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.QualityMetrics__ScoreMetric i {
    margin: auto;
    font-size: 1.5vw;
    color: #204f35;
}
.QualityMetrics__ScoreMetric__BarContainer {
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-content: center;
}
.QualityMetrics__ScoreMetric__BarContainer h2 {
    margin: 0;
    margin-bottom: 2px;
    font-size: 1vw;
    color: #204f35;
}
.QualityMetrics__ScoreMetric__BarContainer p {
    margin-top: 2px !important;
    margin-bottom: calc(0.25vw * 1.488) !important;
    font-size: 0.75vw;
    color: #204f35;
}
.QualityMetrics__ScoreMetric__BarContainer__Bar {
    height: 20%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
    background-color: #B8D7CC;
    border-radius: 4vw;
}
.QualityMetrics__ScoreMetric__BarContainer__Bar__Foreground {
    height: 100%;
    border-radius: 4vw;
}
.QualityMetrics__ScoreMetric__Percentage {
    width: 10%;
    margin-left: 3%;
    color: #204f35;
    font-size: 0.75vw;
}

#QualityFairness .QualityMetrics__ScoreMetric__BarContainer__Bar__Foreground {
    width: <%- quality?.fairnessScore %>%;
    background-color: #60415F;
    filter: brightness(<%- 1 + 1.25 * quality.fairnessScore / 100 %>);
}
#QualityLicenses .QualityMetrics__ScoreMetric__BarContainer__Bar__Foreground {
    width: <%- quality.licenseScore %>%;
    background-color: #60415F;
    filter: brightness(<%- 1 + 1.25 * quality.licenseScore / 100 %>);
}
#QualityMaintainability .QualityMetrics__ScoreMetric__BarContainer__Bar__Foreground {
    width: <%- quality.maintainabilityScore %>%;
    background-color: #60415F;
    filter: brightness(<%- 1 + 1.25 * quality.maintainabilityScore / 100 %>);
}
#QualityDocumentation .QualityMetrics__ScoreMetric__BarContainer__Bar__Foreground {
    width: <%- quality.documentationScore %>%;
    background-color: #60415F;
    filter: brightness(<%- 1 + 1.25 * quality.documentationScore / 100 %>);
}
</style>
