<% const howfairis = data.find((ele) => (ele.ReturnName === "HowFairIs"))?.ReturnData[0]; %>
<% const quality = {score: 69, fairnessScore: 80}; %>
<div class="RightPane">
    <div class="RightPaneContainer">
        <%- include('rightpanenav') %>
        <div class="RightPaneWindow">
            <%- include('howfairis', {howfairis})%>
            <%- include('createcff')%>
            <%- include('quality', {quality}) %>
            <%- include('impact') %>
        </div>
    </div>
</div>

<style>
.RightPane{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.RightPaneContainer {
    height: 87vh;
    width: 48vw;
    margin: 0;
}

.RightPaneWindow {
    background: rgba(234,254,237, 0.55);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(50px);
    border-radius: 0px 16px 16px 16px;
    height: 100%;
    padding: 8px;
}

.RightPaneWindow p {
    color: #0C281E;
    margin: 0;
}

</style>
