<div class="SearchSECO__Match<%- match.vuln.code === -1 ? ' SearchSECO--NotVulnerable' : '' %>">
    <div class="SearchSECO__Match__Header">
        <h2>Project: <%- match.data.project %></h2>
        <%- match.vuln.code !== -1 ? '<span><i class="fa-solid fa-circle-exclamation"></i> Vulnerability reported</span>' : '' %>
    </div>
    Method: <%- match.data.name %> (<%- match.data.file %>:<%- match.data.line %>)
    <br>
    <%- ((authors) => {
        if (authors.length === 0) {
            return "Authors unknown"
        } else if (authors.length === 1) {
            return "Author: " + authors[0];
        } else {
            let str = "Authors: ";
            for (let i = 0; i < authors.length - 1; i++) {
                str += authors[0] + ", ";
            }
            return str + authors[authors.length - 1];
        }
    })(match.data.authors) %>
    <% if (match.vuln.code !== -1) { %>
        <br>
        <br>
        <span><i class="fa-solid fa-circle-exclamation"></i> Vulnerability <%- match.vuln.code %> reported: <a href="<%- match.vuln.url %>"><%- match.vuln.url %></a></span> 
    <% } %>
</div>