<div class="SearchSECO__ListObject SearchSECO__ArrowOwner<%- !project.vulnerable ? ' SearchSECO--NotVulnerable' : '' %>">
    <div class="SearchSECO__ListObject__Header">
        <div class="SearchSECO__ListObject__Header__Start">
            <h1>
                <i class="fa-solid fa-angle-right" onClick="SearchSECOClickArrow(event)"></i><%- project.name %>
            </h1>
            <p>
                <%- project.vulnerable ? '<span><i class="fa-solid fa-file-circle-exclamation"></i> Vulnerable   </span>' : '' %>
                <%- project.matches.length %> match<% if (project.matches.length !== 1) { %>es<% } %>
            </p>
        </div>
    </div>
    <div class="SearchSECO__ListObject__MatchList SearchSECO__ArrowTarget" hidden>
        <% for (const pmatch of project.matches) { %>
        <%- include('SearchSECO-project-match', {"match": pmatch.match, "yourMethod": pmatch.yourMethod}); %>
        <% } %>
    </div>
</div>